.header {
  grid-area: h;
  background-color: #fff;
  border-bottom: 2px solid grey;
}

.header img {
  height: 50px;

}

.header__container {
  float: right;
}

.header__item {
  margin: 3px;
}

.header__avatar {
  float: right;
}

.header__profileName_logoutBtn_Container{
  float: right;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
}