.nav {
  grid-area: n;
  background-color: brown;
  padding: 30px;
}

.nav div a {
  text-decoration: none;
}

.item {
  color: whitesmoke;
}

.active {
  color: gold;
}
.friends {
  text-align: center;
  padding: 5px;
  display: flex;
}
.friends__block {
  text-align: center;
  padding: 5px;
}