.nav {
  grid-area: n;
  background-color: #fff;
  padding: 30px;
  border-right: 2px solid grey;
}

.nav div a {
  text-decoration: none;
}

.item {
  color: black;
  font-size: 30px;
}

.active {
  color: grey;
  font-weight: bolder;
}
.friends {
  text-align: center;
  padding: 5px;
  display: flex;
}
.friends__block {
  text-align: center;
  padding: 5px;
}