.loginFormWrapper {
 text-align: center;
}
.loginForm{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 43%;

}
.errorMessage{
  color: red;
  padding: 5px;

}
.submitBtn{
    margin-top: 10px;
}