.myPosts {
    background: #fff;
    padding: 20px;
    border-top: 2px solid grey;
}

.newPost {
    font-weight: bold;
}

.myPostsBlock {
    margin-top: 10px;
}

.myPosts__addPost_btn {
    background: #fff;
    border: 2px solid black;
    border-radius: 3px;
    padding: 5px;
    width: 80px;
    height: 40px;
}

.myPosts_textarea {
    border: 2px solid black;


}

.myPosts_textarea:focus {
    outline: none !important;
    border: 2px solid black;
    box-shadow: 0 0 10px #719ECE;

}