.dialogs {
    display: grid;
    grid-template-columns: 2fr 8fr;
    padding: 20px;
}

.dialog__users {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.dialog__users.active {
    color: gold;
}


